*.gem
*.iml
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*~
.DS_Store
.byebug_history
.idea/
.rspec_status
.ruby-gemset
.ruby-version
.tags
.tags1
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
bbin/
binstubs/*
bundler_stubs/*
